@import "tailwindcss";

:root {
  --header-default: 174 55% 45%;
}


/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */



body {
  font-family: Arial, Helvetica, sans-serif;
}
